
html(lang="en")
  head
    meta(charset="utf-8")
    | 	
    link(rel="apple-touch-icon", sizes="76x76", href="assets/img/apple-icon.png")
    | 	
    link(rel="icon", type="image/png", sizes="96x96", href="assets/img/favicon.png")
    | 	
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    | 	
    title Robin by SYSDM
    | 	
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
    |     
    meta(name="viewport", content="width=device-width")
    // Bootstrap core CSS
    link(href="assets/css/bootstrap.min.css", rel="stylesheet")
    // Animation library for notifications
    link(href="assets/css/animate.min.css", rel="stylesheet")
    // Paper Dashboard core CSS
    link(href="assets/css/paper-dashboard.css", rel="stylesheet")
    // CSS for Demo Purpose, don't include it in your project
    link(href="assets/css/demo.css", rel="stylesheet")
    // Fonts and icons
    link(href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css", rel="stylesheet")
    |     
    link(href="https://fonts.googleapis.com/css?family=Muli:400,300", rel="stylesheet", type="text/css")
    |     
    link(href="assets/css/themify-icons.css", rel="stylesheet")
  body
    .wrapper
      .sidebar(data-background-color="white", data-active-color="danger")
        //
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .sidebar-wrapper
          .logo
            a.simple-text(href="")
              | Robin by SYSDM
          |             
          ul.nav
            li.active
              a(href="maps.html")
                i.ti-map
                |                         
                p Caller Location
            |                 
            li
              a(href="notifications.html")
                i.ti-pencil
                |                         
                p Create a service
      |     
      .main-panel
        nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              button.navbar-toggle(type="button")
                span.sr-only Toggle navigation
                |                         
                span.icon-bar.bar1
                |                         
                span.icon-bar.bar2
                |                         
                span.icon-bar.bar3
              |                     
              a.navbar-brand(href="#") Location
            |                 
            .collapse.navbar-collapse
        | 		
        .content
          .container-fluid
            .card
              .header
                h4.title OpenStreetMap
                |                         
                br
              |                         
              .map
                .row
                  // Map and Caller details
                  .col-lg-1
                  |                                 
                  #map.col-lg-6
                    iframe(width="100%", height="300", scrolling="no", marginheight="0", marginwidth="0", src="https://www.openstreetmap.org/export/embed.html?bbox=175.19269179669212%2C-37.814240167149926%2C175.35336684552024%2C-37.7187069416788&layer=mapnik", style="border: 1px solid black")
                    br
                    small
                      a(href="https://www.openstreetmap.org/#map=13/-37.7665/175.2730") View Larger Map
                    br
                    br
                  |                                 
                  .col-lg-4
                    table.table
                      thead
                        tr
                          th Name
                          |                                                     
                          th Contact
                          |                                                     
                          th Service
                      |                                                 
                      tbody
                        tr.success
                          td Caller1
                          |                                                     
                          td 02102312345
                          |                                                     
                          td Fire Service
                        |                                                   
                        tr.danger
                          td Caller2
                          |                                                     
                          td 02102335412
                          |                                                     
                          td Ambulance
                        |                                                   
                        tr.info
                          td Caller3
                          |                                                     
                          td 02102395241
                          |                                                     
                          td Police
                        |                                                   
                        tr.info
                          td Caller4
                          |                                                     
                          td 02102152412
                          |                                                     
                          td Fire Service
                        |                                                   
                        tr.info
                          td Caller5
                          |                                                     
                          td 02102212584
                          |                                                     
                          td Fire Service
                  |                                 
                  .col-lg-1
                // Message area
                .row
                  .col-lg-1
                  |                                 
                  #message.col-lg-10
                    iframe(width="100%", height="250", frameborder="0", scrolling="yes", marginheight="0", marginwidth="0", src="message.html", style="border: 1px solid black")
                  |                                 
                  .col-lg-1
                |                             
                .row
                  .col-lg-1
                  |                                 
                  #message.col-lg-10
                    label Message
                    |                                     
                    form(action="/")
                      textarea.form-control.border-input(rows="2", placeholder="Enter Your message here", value="Mike")
                      |                                         
                      button.btn.btn-primary.btn-sm(type="submit", style="float: right;") Send
                      br
                      br
                  |                                 
                  .col-lg-1
        | 		
        footer.footer
          .container-fluid
            .copyright.pull-right
              | © 
              script.
                document.write(new Date().getFullYear())
              | , made with 
              i.fa.fa-heart.heart
              |  by 
              a(href="") SYSDM
  // Core JS Files
  script(src="assets/js/jquery-1.10.2.js", type="text/javascript")
  | 	
  script(src="assets/js/bootstrap.min.js", type="text/javascript")
  // Checkbox, Radio & Switch Plugins
  script(src="assets/js/bootstrap-checkbox-radio.js")
  // Charts Plugin
  script(src="assets/js/chartist.min.js")
  // Notifications Plugin
  script(src="assets/js/bootstrap-notify.js")
  // Paper Dashboard Core javascript and methods for Demo purpose
  script(src="assets/js/paper-dashboard.js")
  // Paper Dashboard DEMO methods, don't include it in your project!
  script(src="assets/js/demo.js")
 
