  /* Chat containers */
  .containerMsg {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.containerMsg::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.containerMsg .avatar {
    float: left;
    max-width: 30px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.containerMsg img.right {
    float: right;
    max-width: 30px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.upload {
    max-width: 300px;
    width: 100%;
    margin-right: 20px;
    border-radius: 5%;
}

.text-right{
    text-align: right;
}